/* style.css */

[data-testid="block-container"] {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
  margin-bottom: -7rem;
}

[data-testid="stVerticalBlock"] {
  padding-left: 0rem;
  padding-right: 0rem;
}

[data-testid="stMetric"] {
  background-color: #393939;
  text-align: center;
  padding: 15px 0;
}

[data-testid="stMetricLabel"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-testid="stMetricDeltaIcon-Up"],
[data-testid="stMetricDeltaIcon-Down"] {
  position: relative;
  left: 38%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* style.css */

[data-testid="block-container"] {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
  margin-bottom: -7rem;
}

[data-testid="stVerticalBlock"] {
  padding-left: 0rem;
  padding-right: 0rem;
}

[data-testid="stMetric"] {
  background-color: #393939;
  text-align: center;
  padding: 15px 0;
}

[data-testid="stMetricLabel"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-testid="stMetricDeltaIcon-Up"],
[data-testid="stMetricDeltaIcon-Down"] {
  position: relative;
  left: 38%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
